<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.LifestyleMapper" >
  <resultMap id="BaseResultMap" type="pojo.Lifestyle" >
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="drink_condition" property="drinkCondition" jdbcType="VARCHAR" />
    <result column="smoking_condition" property="smokingCondition" jdbcType="VARCHAR" />
    <result column="blood_pressure_condition" property="bloodPressureCondition" jdbcType="VARCHAR" />
    <result column="exercise_condition" property="exerciseCondition" jdbcType="VARCHAR" />
    <result column="meals_condition" property="mealsCondition" jdbcType="VARCHAR" />
    <result column="sleep_condition" property="sleepCondition" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    user_id, drink_condition, smoking_condition, blood_pressure_condition, exercise_condition, 
    meals_condition, sleep_condition
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="pojo.LifestyleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from lifestyle
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from lifestyle
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from lifestyle
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="pojo.LifestyleExample" >
    delete from lifestyle
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="pojo.Lifestyle" >
    insert into lifestyle (user_id, drink_condition, smoking_condition, 
      blood_pressure_condition, exercise_condition, 
      meals_condition, sleep_condition)
    values (#{userId,jdbcType=INTEGER}, #{drinkCondition,jdbcType=VARCHAR}, #{smokingCondition,jdbcType=VARCHAR}, 
      #{bloodPressureCondition,jdbcType=VARCHAR}, #{exerciseCondition,jdbcType=VARCHAR}, 
      #{mealsCondition,jdbcType=VARCHAR}, #{sleepCondition,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="pojo.Lifestyle" >
    insert into lifestyle
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="drinkCondition != null" >
        drink_condition,
      </if>
      <if test="smokingCondition != null" >
        smoking_condition,
      </if>
      <if test="bloodPressureCondition != null" >
        blood_pressure_condition,
      </if>
      <if test="exerciseCondition != null" >
        exercise_condition,
      </if>
      <if test="mealsCondition != null" >
        meals_condition,
      </if>
      <if test="sleepCondition != null" >
        sleep_condition,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="drinkCondition != null" >
        #{drinkCondition,jdbcType=VARCHAR},
      </if>
      <if test="smokingCondition != null" >
        #{smokingCondition,jdbcType=VARCHAR},
      </if>
      <if test="bloodPressureCondition != null" >
        #{bloodPressureCondition,jdbcType=VARCHAR},
      </if>
      <if test="exerciseCondition != null" >
        #{exerciseCondition,jdbcType=VARCHAR},
      </if>
      <if test="mealsCondition != null" >
        #{mealsCondition,jdbcType=VARCHAR},
      </if>
      <if test="sleepCondition != null" >
        #{sleepCondition,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="pojo.LifestyleExample" resultType="java.lang.Integer" >
    select count(*) from lifestyle
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update lifestyle
    <set >
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.drinkCondition != null" >
        drink_condition = #{record.drinkCondition,jdbcType=VARCHAR},
      </if>
      <if test="record.smokingCondition != null" >
        smoking_condition = #{record.smokingCondition,jdbcType=VARCHAR},
      </if>
      <if test="record.bloodPressureCondition != null" >
        blood_pressure_condition = #{record.bloodPressureCondition,jdbcType=VARCHAR},
      </if>
      <if test="record.exerciseCondition != null" >
        exercise_condition = #{record.exerciseCondition,jdbcType=VARCHAR},
      </if>
      <if test="record.mealsCondition != null" >
        meals_condition = #{record.mealsCondition,jdbcType=VARCHAR},
      </if>
      <if test="record.sleepCondition != null" >
        sleep_condition = #{record.sleepCondition,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update lifestyle
    set user_id = #{record.userId,jdbcType=INTEGER},
      drink_condition = #{record.drinkCondition,jdbcType=VARCHAR},
      smoking_condition = #{record.smokingCondition,jdbcType=VARCHAR},
      blood_pressure_condition = #{record.bloodPressureCondition,jdbcType=VARCHAR},
      exercise_condition = #{record.exerciseCondition,jdbcType=VARCHAR},
      meals_condition = #{record.mealsCondition,jdbcType=VARCHAR},
      sleep_condition = #{record.sleepCondition,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="pojo.Lifestyle" >
    update lifestyle
    <set >
      <if test="drinkCondition != null" >
        drink_condition = #{drinkCondition,jdbcType=VARCHAR},
      </if>
      <if test="smokingCondition != null" >
        smoking_condition = #{smokingCondition,jdbcType=VARCHAR},
      </if>
      <if test="bloodPressureCondition != null" >
        blood_pressure_condition = #{bloodPressureCondition,jdbcType=VARCHAR},
      </if>
      <if test="exerciseCondition != null" >
        exercise_condition = #{exerciseCondition,jdbcType=VARCHAR},
      </if>
      <if test="mealsCondition != null" >
        meals_condition = #{mealsCondition,jdbcType=VARCHAR},
      </if>
      <if test="sleepCondition != null" >
        sleep_condition = #{sleepCondition,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="pojo.Lifestyle" >
    update lifestyle
    set drink_condition = #{drinkCondition,jdbcType=VARCHAR},
      smoking_condition = #{smokingCondition,jdbcType=VARCHAR},
      blood_pressure_condition = #{bloodPressureCondition,jdbcType=VARCHAR},
      exercise_condition = #{exerciseCondition,jdbcType=VARCHAR},
      meals_condition = #{mealsCondition,jdbcType=VARCHAR},
      sleep_condition = #{sleepCondition,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>